<div class="welcome-page">

  <main class="welcome-panel">
    <h1>This is my quick demo page</h1>
    <div>
      <p>
        Basically every quick demo I have I will link to one the left. Clicking will route you to the demo and from there
        I will link to the source code for the demo. I don't usually worry about styling any of the demos
        (unless they are a demo on styling). Just a quick site to show some work that I do to keep skills sharp and to
        experiment with some new things.
      </p>
    </div>
  </main>

  <div class="link-col">
    <a routerLink="/forms">Forms</a>
  </div>

</div>
