<div class="form-demo-container">
  <div class="header">
    <h1>Form Demo</h1>
    <p>This is a quick form demo. Currenly not using many features of the FormModule but is the basic setup of both types of form usage in Angular. You can find the source code on
      <a target="_blank" href="https://github.com/Quinn-Donnelly/demos/tree/master/src/app/form-demo">GitHub <mat-icon class="icon">open_in_new</mat-icon></a></p>
  </div>

  <div class="form-demo">
    <div class="forms">

      <h2>Model Form</h2>
      <p>This is a clasic form in Angular. The form is controlled by bindings in the template linking to a component. Taking advantage of the two-way data binding provided by Angular</p>
      <app-model-form></app-model-form>

      <h2>Reactive Form</h2>
      <p>This is a more advanced way to build forms in Angular. Which allows you to dynamically control the form and form validators</p>
      <app-reactive-form></app-reactive-form>

    </div>


    <div class="output">
      <app-json-printer></app-json-printer>
    </div>

  </div>


</div>
