.form-demo-container {

}

.icon {
  font-size: 1.3em;
}

.form-demo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "forms output";
}

.output {
  grid-area: output;
}

.forms {
  grid-area: forms;
}
