<div class="form-demo-container">
  <div class="header">
    <h1>Form Demo</h1>
  </div>

  <div class="form-demo">
    <div class="forms">

      <h2>Model Form</h2>
      <p>This is a clasic form in Angular. The form is controlled by bindings in the template linking to a component. Taking advantage of the two-way data binding provided by Angular</p>
      <app-model-form></app-model-form>

      <h2>Reactive Form</h2>
      <p>This is a more advanced way to build forms in Angular.</p>
      <!--TODO: Place the reactive form component here-->

    </div>


    <div class="output">
      <app-json-printer></app-json-printer>
    </div>

  </div>


</div>
